<div class="py-3">
    <h1>Education</h1>
    <hr>
    University of South Carolina
    <span class="float-right text-success">Expected Graduation: May 2021</span><br>
    <span class="font-italic">Bachelor of Science in Computer Engineering</span>
    <ul>
        <li><span class="text-success">GPA:</span> 3.48</li>
        <li><span class="text-success">Dean's List:</span> 6 semesters</li>
    </ul>
</div>
<div class="py-3">
    <h1>Coursework</h1>
    <hr>
    <div *ngFor="let course of courses">
        <span class="text-success">{{course.title}}</span> - {{course.description}}
    </div>
</div>