<section class="container-fluid py-3" *ngFor="let proj of project_list">
    <h3>{{proj.title}} <a role="button" class="btn btn-success" href="{{proj.src_link}}">SRC</a></h3>
    <hr>
    <ng-template *ngIf="proj.side_video.source then side; else noSide"></ng-template>
    <ng-template #side>
        <div class="row">
            <div class='col-sm-9 pr-2'>
                <ng-template [ngIf]="proj.course">
                    <span class="text-success">Course:</span> {{proj.course}}<br>
                </ng-template>
                <span class="text-success">Date:</span> {{proj.date}}<br>
                <span class="text-success">Languges:</span> {{proj.language}}<br>
                <span class="text-success">Description:</span> {{proj.description}}
            </div>
            <div class='col-sm-3'>
                <video width='100%' class="rounded" autoplay loop muted>
                    <source type="{{proj.side_video.type}}" src="{{proj.side_video.source}}">
                </video>
            </div>
        </div>
    </ng-template>
    <ng-template #noSide>
        <ng-template [ngIf]="proj.course">
            <span class="text-success">Course:</span> {{proj.course}}<br>
        </ng-template>
        <span class="text-success">Date:</span> {{proj.date}}<br>
        <span class="text-success">Languges:</span> {{proj.language}}<br>
        <span class="text-success">Description:</span> {{proj.description}}
    </ng-template>
    <video *ngFor="let vid of proj.videos" class="rounded pt-2" width="100%" autoplay loop muted>
        <source type="{{vid.type}}" src="{{vid.source}}">
    </video>
    <img *ngFor="let img of proj.images" class="rounded pt-2" src="{{img.source}}" alt="{{img.alt}}" width="100%">
</section>