<mat-accordion class="bg-light">
    <mat-expansion-panel class="bg-light"*ngFor="let proj of project_list">
        <mat-expansion-panel-header class="pt-2" ng-click="gtag('event', 'proj.title');">
            <mat-panel-title>
                <h3>
                    {{proj.title}} (<span class="text-success">{{proj.language}}</span>)
                    <a *ngIf="proj.src_link" role="button" class="btn btn-success" href="{{proj.src_link}}">SRC</a>
                </h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template *ngIf="proj.side_video.source then side; else noSide"></ng-template>
        <ng-template #side>
            <div class="row">
                <div class='col-sm-9 pr-2'>
                    <ng-template [ngIf]="proj.course">
                        <span class="text-success">Course:</span> {{proj.course}}<br>
                    </ng-template>
                    <span class="text-success">Date:</span> {{proj.date}}<br>
                    <ng-template [ngIf]="proj.keywords">
                        <span class="text-success">Keywords:</span> {{proj.keywords}}<br>
                    </ng-template>
                    <span class="text-success">Description: </span>
                    <span [innerHtml]=highlighttext(proj.description)></span>
                </div>
                <div class='col-sm-3'>
                    <video width='100%' class="rounded" controls autoplay loop muted>
                        <source type="{{proj.side_video.type}}" src="{{proj.side_video.source}}">
                    </video>
                </div>
            </div>
        </ng-template>
        <ng-template #noSide>
            <ng-template [ngIf]="proj.course">
                <span class="text-success">Course:</span> {{proj.course}}<br>
            </ng-template>
            <span class="text-success">Date:</span> {{proj.date}}<br>
            <ng-template [ngIf]="proj.keywords">
                <span class="text-success">Keywords:</span> {{proj.keywords}}<br>
            </ng-template>
            <span class="text-success">Description: </span>
            <span [innerHtml]=highlighttext(proj.description)></span>
        </ng-template>
        <video *ngFor="let vid of proj.videos" class="rounded pt-2" width="100%" controls autoplay loop muted>
            <source type="{{vid.type}}" src="{{vid.source}}">
        </video>
        <img *ngFor="let img of proj.images" class="rounded pt-2" src="{{img.source}}" alt="{{img.alt}}" width="100%">
    </mat-expansion-panel>
</mat-accordion>