<div class="py-3">
    <h1>Introduction</h1>
    <hr>
    I am a recent graduate from the <span class="text-success">University of South Carolina</span>
    with a Bachelors in Computer Engineering. This portfolio contains information about projects I have completed since I started programming.
    <br> 
    <h4>Want to get in contact or view my source code? Visit me on GitHub:
    <a role="button" class="my-3 btn btn-success" href="https://github.com/AaronTheNerd/Portfolio">SRC</a></h4>
</div>
<div class="py-3">
    <h3>Languages</h3>
    <hr>
    Listed below are languages which I have used in a school, work, or personal setting. The listed percentiles were obtained using
    <a href="https://app.pluralsight.com/profile/aaron-barge">PluralSight Skill Assessments</a>.
    <ul>
        <li *ngFor="let lang of languages">
            <span class="text-success">{{lang.language}}:</span> {{lang.skill}}
        </li>
    </ul>
</div>