<div class="py-3">
    <h1>About Me</h1>
    <hr>
    <h2>My name is <span class="text-success">Aaron Barge</span></h2>
    I'm a Computer Engineering Undergrad @ <span class="text-success">UofSC</span><br>
    <p class="mb-0" [innerHtml]="highlight()">
    </p>
    <a role="button" class="my-3 btn btn-success" href="https://github.com/AaronTheNerd/Portfolio">SRC</a><br>
    <h4 class="text-success">I hope you enjoy your stay!</h4>
</div>
<div class="py-3">
    <h2>Skills</h2>
    <hr>
    <h3>Languages</h3>
    <hr>
    Listed below are languages which I have used in a school, work, or personal setting. I don't
    want to claim that I am an expert in any of these languages. However, I believe that if I had
    to code in a professional setting with any of these languages I could learn enough to reach
    that point.
    <ul>
        <li *ngFor="let lang of languages">
            <span class="text-success">{{lang.language}}:</span> {{lang.skill}}
        </li>
    </ul>
</div>
<div class="py-3">
    <h2>Contact Me</h2>
    <hr>
    <span class="text-success">Email:</span> bargeaaron@gmail.com<br>
    <span class="text-success">Github:</span> AaronTheNerd<br>
    <span class="text-success">Phone Number:</span> (513) 226 - 1859
</div>