<div class="py-3">
    <h1>About Me</h1>
    <hr>
    <h2>My name is <span class="text-success">Aaron Barge</span></h2>
    I'm a Computer Engineering Undergrad @ UofSC<br>
    I've made this website to act as a virtual portfolio which has my education, work, and project
    experiences within it. Additionally, This website was written entirely by hand, with only the
    use of HTML, CSS, and vanilla Javascript. The source code can be found Github.<br>
    <a role="button" class="btn btn-success" href="#">SRC</a><br>
    If any project has an SRC link, it'll go to that project's source code. I would also like to
    mention that I am in no way a web designer. In fact, I've never taken a web design course. I
    just wanted to challenge myself with creating a "good-looking" webiste with no help from
    programs designed to stream-line that process.
</div>
<div class="py-3">
    <h2>Skills</h2>
    <hr>
    <h3>Languages</h3>
    <hr>
    Listed below are languages which I have used in a school, work, or personal setting. I don't
    want to claim that I am an expert in any of these languages. However, I believe that if I had
    to code in a professional setting with any of these languages I could learn enough to reach
    that point.
    <ul>
        <li *ngFor="let lang of languages">
            <span class="text-success">{{lang.language}}:</span> {{lang.skill}}
        </li>
    </ul>
</div>
<div class="py-3">
    <h2>Contact Me</h2>
    <hr>
    Email: bargeaaron@gmail.com<br>
    Github: AaronTheNerd<br>
    Phone Number: (513) 226 - 1859
</div>