<div class="py-3" id="projects">
    <h1>My Projects</h1>
    <hr>
    <ul id="indicators" class="pb-3 nav nav-pills nav-fill">
        <li class="nav-item">
            <a href="#projects-carousel" role="button" class="btn btn-dark nav-link" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Prev</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#projects-carousel" role="button" data-slide-to="0" class="btn btn-success nav-link active">
                Personal
            </a>
        </li>
        <li class="nav-item">
            <a href="#projects-carousel" role="button" data-slide-to="1" class="btn btn-success nav-link">
                Required
            </a>
        </li>
        <li class="nav-item">
            <a href="#projects-carousel" role="button" data-slide-to="2" class="btn btn-success nav-link">
                Optional
            </a>
        </li>
        <li class="nav-item">
            <a href="#projects-carousel" role="button" class="btn btn-dark nav-link" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
    <div id="projects-carousel" class="carousel slide bg-white" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div id="personal"class="carousel-item active p-3">
                <h2>Personal Projects</h2>
                <hr>
                <app-project-list [project_list]=personal_projects></app-project-list>
            </div>
            <div id="required" class="carousel-item p-3">
                <h2>Required School Projects</h2>
                <hr>
                <app-project-list [project_list]=required_projects></app-project-list>
            </div>
            <div id="optional" class="carousel-item p-3">
                <h2>Optional School Projects</h2>
                <hr>
                <app-project-list [project_list]=optional_projects></app-project-list>
            </div>
        </div>
    </div>
</div>