<ul class="nav nav-justified bg-success font-weight-bold sticky-top">
	<li class="nav-item">
		<a class="nav-link" href="#about">About</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#education">Education</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#work-experience">Work Experience</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false" data-offset="0,0">Projects</a>
		<div class="dropdown-menu bg-success">
			<a class="dropdown-item" href="#personal" ng-click="setActive(0)">Personal Projects</a>
			<a class="dropdown-item" href="#required" ng-click="setActive(1)">Required School Projects</a>
			<a class="dropdown-item" href="#optional" ng-click="setActive(2)">Optional School Projects</a>
		</div>
	</li>
</ul>