/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fa {  
    width: 25px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    border-radius: 50%; 
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-twitter {
    background: #55ACEE;
  }

  .fa-linkedin {
    background: #007bb5;
  }

  .fa-github {
    background: #000000;
  }
